/*
<!--
    ============================================================================
    Universidad Nacional de Costa Rica.
    Curso           : Programacion IV.
    Profesor        : Christian Garita.
    Estudiantes     : Dennis Bonilla Ramirez | Bryan Valerio Herrera.           
    Proyecto # 1     
    ============================================================================
-->
*/
/* IMPORTS UTILES. */
@import "normalize/normalize.css";
/* Reset de paddings, margins y borders de elementos de nivel de bloque. */
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
html, body {
    height: 100%;
    background: #C8D3FF;
    background: -webkit-linear-gradient(#C8D3FF  , #C8D3FF  );
    background:    -moz-linear-gradient(#C8D3FF  , #C8D3FF  );
    background:         linear-gradient(#C8D3FF  , #C8D3FF  );
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
/*==============================================================================
                       ESTILOS PERSONALIZADOS PARA EL SITIO.
 ==============================================================================*/
/* Estilizado contenedor principal */
/* Mobile first */
.container{
    width: 100%;
    min-height: 100%;
    position: relative;
}
#contenido-principal{
    width: 100%;
    min-height: 100%;
    position: relative;
}
footer{
    background: #CDCDCD;
    width:100%;
    height:100px;
    position: static;
    bottom:0;
    left:0;
}
/*========================================
    MEDIA QUERIES SEGUN EL VIEWPORT.
 ========================================*/

/* DISPOSITIVOS MOVILES - TELEFONOS. */
/* POSICION PORTRAIT */
@media only screen and (max-width : 320px){   
    .container{
        width: 100%;
    }
    #contenido-inicio, 
    #contenido-instruccional, 
    #contenido-nuestra-historia, 
    #contenido-contactenos,
    #contenido-formulario-login{
        width: 95%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
     #contenido-formulario-login{
        position: relative;
        left: 0%;
        top: 0rem;
    }

}
/* POSICION LANDSCAPE */
@media only screen and (min-width : 320px){   
    .container{
        width: 100%;
    }
    #contenido-inicio, 
    #contenido-instruccional, 
    #contenido-nuestra-historia, 
    #contenido-contactenos,
    #contenido-formulario-login{
        width: 95%;
        height: 100%;

        margin-left: auto;
        margin-right: auto;
    }
    #contenido-formulario-login{
        position: relative;
        left: 0%;
        top: 0rem;
    }

}


/* DISPOSITIVOS MOVILES - TABLETS. */
@media only screen and (min-width : 640px){
    .container{
        width: 100%;
    }
    #contenido-inicio, 
    #contenido-instruccional, 
    #contenido-nuestra-historia, 
    #contenido-contactenos,
    #contenido-formulario-login{
        width: 95%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #contenido-formulario-login{
        position: relative;
        left: 0%;
        top: 0rem;
    }
}



/* COMPUTADORAS Y DESKTOPS - LAPTOPS. */
@media only screen and (min-width : 1024px){
    .container{
        width: 100%;
    }
    #contenido-inicio, 
    #contenido-instruccional, 
    #contenido-nuestra-historia, 
    #contenido-contactenos,
    #contenido-formulario-login,
    #contenido-formulario-login{
        width: 95%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;     
    }

    #contenido-formulario-login{
        position: static;
        width: 800px;
        height: 600px;
    }


}
 


/* Ajustes contactenos */
#contenido-contactenos{
    width: 65%;
    margin-left: 15%;
}

/* Ajustes contenido mis-datos-personales */
#contenido-mis-datos-personales{
    width: 65%;
    margin-left: 15%;
}

/* Ajustes contenido registrarse */
#contenido-registrarse, #contenido-expertos-por-tema, #contenido-gestionar-tema{
    width: 65%;
    margin-left: 15%;
}
/*Ajuste gestionar-tema-id-categoria*/
#gestionar-tema-id-categoria{
    width: 65%;
    margin-right: 3%;
}
#gestionar-tema-nuevo-id{
    margin-top: -4.5%;
}
/* Ajustes botones de form, registro usuario, modificar, contactenos */
.boton-left{
    float: right;
    margin-right: 5%;
    width: 25%;
    font-weight: bold;
    font-size: medium;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.boton-left:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
} 
/* Ajustes menu acceder a mi cuenta */
.menu-left{
    float: right;
    margin: 0px;
    padding: 0px;
    margin-right: 5%;    
    max-height: 45px;
}
/******************************************************************************/
/* ocultar el id del usuario, para que el javascript lo pueda agarrar. */
.oculta{
    display:none;
}
li.hidden {
    display: none;
}
/******************************************************************************/
